@import '../../../../assets/styles/variables';

.container1 {
    margin-top: 85px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
}

.patient-title {
    background-color: white;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 20px;
    vertical-align: middle;   
}

.patient-title h2 {
    font-size: 1.7rem;
    color: black;
    padding-left: 15px;
    font-family: "Dosis", sans-serif;
    padding-top: 7px;
}

.content {
    padding-top: 20px;
    width: 100%;
}

#edit-exam, #edit-appoint, #edit-patient {
    background-color: #6b54f0;
    color: white;
    border-radius: 4px;
    height: 35px;
    width: 75px;
    border: none;
    font-family: "Dosis", sans-serif;
    margin-bottom: 15px;
}

#edit-exam:hover, #edit-appoint:hover, #edit-patient:hover {
    background-color: #FF4155;
    color: black;
    
}

mat-divider {
    margin-top: 15px;
    margin-bottom: 15px;
}