@import '../../../../assets/styles/variables';

.container {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.content {
    padding-top: 15px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.719);
}

h5 {
    font-size: 1.3rem;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.719);
}

p {
    font-size: 1.2rem;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.719);
}

#edit-exam, #edit-appoint {
    background-color: $colorButton;
    color: $colorButtonFont;
    border-radius: 25px;
    height: 40px;
    width: 85px;
}