<div class="container1">
    <div class="stats">

        <div class="card-stat" id="card-patient">
            <p class="label">Pacientes</p>
            <div class="icon-num">
                <img class='icons' src="../../../assets/images/patients.png">
                <p class="num">{{countPatients}}</p>
            </div>
        </div>

        <div class="card-stat">
            <p class="label">Consultas</p>
            <div class="icon-num">
                <img class='icons' src="../../../assets/images/appointments.png">
                <p class="num">{{countAppointments}}</p>
            </div>
        </div>

        <div class="card-stat" id="card-exam">
            <p class="label">Exames</p>
            <div class="icon-num">
                <img class='icons' src="../../../assets/images/exams.png">
                <p class="num">{{countExams}}</p>
            </div>
        </div>

    
    </div>

</div>


