<div class="container">
    <mat-card id="card-stat-patients">
        <img id='patients' src="../../../assets/images/patients.png">
        <p id="num">{{countPatients}}</p>
        <p id="label">Pacientes</p>
    </mat-card>
    <mat-card id="card-stat-appointments">
        <img id='patients' src="../../../assets/images/appointments.png">
        <p id="num">{{countAppointments}}</p>
        <p id="label">Consultas</p>
    </mat-card>
    <mat-card id="card-stat-exams">
        <img id='patients' src="../../../assets/images/exams.png">
        <p id="num">{{countExams}}</p>
        <p id="label">Exames</p>
    </mat-card>
</div>
