@import '../../../assets/styles/variables';

.stats {
    display: flex;
    flex-direction: row;
    height: 250px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: $colorAreaBackground;
    padding: 15px;
    width: 60vw;
    border-radius: 4px;
}

@media only screen and (max-width: 1366px) {
    .container {
        width: 81.2vw;
        justify-content: space-evenly;
    }
}

.card-stat {
    width: 15vw;
    height: 190px;
    border-radius: 4px;
    background-color: $colorGeneralCard; 
}

@media only screen and (max-width: 1366px) {
    .card-stat {
        width: 20vw;
    }
}

.icon-num {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.patients {
    height: 100px;
}

.num {
    font-size: 4rem;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

.label {
    font-size: 1.8rem; 
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

