@import '../../../assets/styles/variables';

.form-container1 {
  margin-top: 85px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
 }

 #button-group1 {
  display: flex;
  margin-left: auto;
 }
 
 #button-group1 button {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 10px;
  background: $colorButton;
  border: none;
  border-radius: 4px;
  color: $colorFontButton;
  height: 40px;
  width: 85px;
 }
 
 #button-group1 button:disabled {
  background: $colorButtonDisable;
  color: $colorFontButtonDisable;
 }
 
 #button-group1 button:hover {
  background: $colorHover;
  color: $colorFontButtonHover;
 }
 
 #button-group1 button:disabled:hover {
  background: $colorButtonDisable;
  color: $colorFontButtonDisable;
 }

 #button-group1 .btn-save-valid {
  background-color: #007459;
 }

 .list-search-area {
  background: $colorAreaBackground;
  border-radius: 4px;
  padding-bottom: 15px;
 }

 .list-search-area ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }

 .list-search-area h3 {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: $colorLabelForms;
  padding: 1%;
 }

 .list-search-area a {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 15px;
  font-family: "Dosis", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: $colorPatientResult;
 }

 .list-search-area a:hover {
  color: $colorPatientResultHover;
  cursor: pointer;
 }

.form-area3 {
 background: $colorAreaBackground;
 border-radius: 4px;
 padding: 1%;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 margin-right: auto;
 margin-left: auto;
}

.row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.form-field1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
   input, select {
    width: 100%;
    border-radius: 4px;
    border: 2px solid $colorFormBorder;
    height: 35px;
   }
}

input, select {
  font-family: "Dosis", sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  border-radius: 4px;
  font-size: 1.2rem;
}

textarea {
  font-family: "Dosis", sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 1.2rem;
  border: 2px solid $colorFormBorder;
  border-radius: 4px;
}

select:disabled, input:disabled, textarea:disabled {
  background: $colorBackgroundDisable;
  color: $colorFontDisable;
}

label {
  font-family: "Dosis", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: $colorLabelForms;
}

mat-error {
  color: $colorTextDangerForm;
}

.idPatient {
  flex: 1;
}

.name {
  flex: 3;
}

#search-and-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

#search {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.3;
  border-radius: 4px;
  border: none;
  background: $colorSearchBackground;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

#search::placeholder{
  color: $colorSearchPlaceholder;
}

@keyframes checkmark {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.checkmark {
  position: fixed; 
  top: 40%; 
  left: 50%; 
  animation: checkmark 1s;
  z-index: 9999; 
}






