<div *ngIf="showMessage" class="success-icon checkmark">
    <img src="../../../assets/images/check-save.png">
  </div>

<div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>

    <div style="display: flex; flex-grow: 1;">
      <app-sidebar-menu></app-sidebar-menu>

      <div class="form-container1" style="flex-grow: 0.9;">
            <div id="search-and-btn">
                    <input *ngIf="!isEditing" type="text" id="search" name="search" placeholder="Buscar paciente" matInput [formControl]="patientSearchControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setPatientData($event.option.value)">
                    <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
                        {{patient.name}}
                    </mat-option>
                    </mat-autocomplete>

                <div id="button-group1">
                    <button id="btn-save-d" [disabled]="saveDisabled" *ngIf="isEditing" (click)="saveEditAppoint()">Salvar</button>
                    <button id="btn-save" *ngIf="!isEditing" (click)="saveAppointRegister()">Salvar</button>   
                    <button id="btn-edit" *ngIf="isEditing" (click)="editAppoint()">Editar</button>
                    <button disabled id="btn-edit-d" *ngIf="!isEditing">Editar</button>               
                    <button id="btn-del" *ngIf="isEditing" (click)="deleteAppoint()">Deletar</button>
                    <button disabled id="btn-del-d" *ngIf="!isEditing">Deletar</button> 
                </div>
            </div>    

            <div class="form-area2" [formGroup]="appointRegistration">
           
                <div class="form-area3">
                    
                    <div class="row1">
                        <div class="form-field1 idPatient">
                            <label for="idPatient">ID paciente</label>
                            <input matInput formControlName="idPatient" name="idPatient">
                        </div>
                        <div class="form-field1 name">
                            <label for="name">Nome</label>
                            <input matInput formControlName="name" name="name">
                        </div>
                    </div>
                    
                    <div class="row1">
                        <div class="form-field1 reason">
                            <label for="reason">Motivo da consulta*</label>
                            <input matInput formControlName="reason" name="reason">
                            <mat-error *ngIf="appointRegistration.get('reason')?.invalid && (appointRegistration.get('reason')?.dirty || appointRegistration.get('reason')?.touched)">
                                Motivo da consulta é obrigatório e deve ter entre 8 e 64 caracteres
                            </mat-error>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1 consultDate">
                            <label for="consultDate">Data da consulta*</label>
                            <input type="date" name="consultDate" formControlName="consultDate">
                        </div>
                        <div class="form-field1 consultTime">
                            <label for="consultTime">Hora da consulta*</label>
                            <input type="time" name="consultTime" formControlName="consultTime">
                        </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1 problemDescrip">
                            <label for="problemDescrip">Descrição do problema*</label>
                            <textarea name="problemDescrip" formControlName="problemDescrip" rows="4" cols="50"></textarea>
                                <mat-error *ngIf="appointRegistration.get('problemDescrip')?.invalid && (appointRegistration.get('problemDescrip')?.dirty || appointRegistration.get('problemDescrip')?.touched)">
                                    Descrição do problema é obrigatório e deve ter entre 16 e 1024 caracteres
                                </mat-error>
                        </div>
                    </div>

                    <div class="row1">
                        <div class="form-field1 prescMed">
                            <label for="problemDescrip">Medicação receitada</label>
                            <textarea name="prescMed" formControlName="prescMed" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1 dosagesPrec">
                            <label for="dosagesPrec">Dosagens e precauções*</label>
                            <textarea name="dosagesPrec" formControlName="dosagesPrec" rows="4" cols="50"></textarea>
                                <mat-error *ngIf="appointRegistration.get('dosagesPrec')?.invalid && (appointRegistration.get('dosagesPrec')?.dirty || appointRegistration.get('dosagesPrec')?.touched)">
                                    Dosagens e precauções é obrigatório e deve ter entre 16 e 256 caracteres
                                </mat-error>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
