<div *ngIf="showMessage" class="success-icon checkmark">
    <img src="../../../assets/images/check-save.png">
  </div>

<div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>

    <div style="display: flex; flex-grow: 1;">
      <app-sidebar-menu></app-sidebar-menu>

      <div class="form-container" style="flex-grow: 1;">
        
        <div class="title-and-btn">
            <h3>Busque o paciente e preencha os dados da consulta</h3>
            <div class="button-group">
                <button mat-raised-button class="btn-save" [disabled]="saveDisabled" *ngIf="isEditing" (click)="saveEditAppoint()">Salvar</button>
                <button mat-raised-button class="btn-save" *ngIf="!isEditing" (click)="saveAppointRegister()">Salvar</button>

                <button mat-raised-button class="btn-edit" *ngIf="isEditing" (click)="editAppoint()">Editar</button>
                <button mat-raised-button disabled class="btn-edit" *ngIf="!isEditing">Editar</button>
                
                <button mat-raised-button class="btn-del" *ngIf="isEditing" (click)="deleteAppoint()">Deletar</button>
                <button mat-raised-button disabled class="btn-del" *ngIf="!isEditing">Deletar</button>
            </div>
        </div>


        <div class="form-area" [formGroup]="appointRegistration">
            <div>
                <div *ngIf="!isEditing">
                    <label for="search"></label>
                    <input type="text" id="search" name="search" placeholder="Buscar paciente" matInput [formControl]="patientSearchControl" [matAutocomplete]="auto">

                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setPatientData($event.option.value)">
                      <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
                        {{patient.name}}
                      </mat-option>
                    </mat-autocomplete>
                </div>
                

                    <br>
                                   
                <mat-form-field class="form-field" id="id-form-field">
                    <mat-label>ID paciente</mat-label>
                    <input matInput formControlName="idPatient">
                </mat-form-field>

                <mat-form-field class="form-field" id="name-form-field">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <br>
                <mat-form-field class="form-field" id="reason-form-field">
                    <mat-label>Motivo da Consulta</mat-label>
                    <input matInput formControlName="reason">
                </mat-form-field>
                <br>
                <mat-form-field class="form-field" id="consult-date-form-field">
                    <mat-label>Data da Consulta</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="consultDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field class="form-field" id="consult-time-form-field">
                    <mat-label>Horário da Consulta</mat-label>
                    <input matInput [ngxTimepicker]="timePicker" formControlName="consultTime">
                    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="form-field" id="problem-descrip-form-field">
                    <mat-label>Descrição do problema</mat-label>
                    <textarea matInput formControlName="problemDescrip"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="form-field" id="presc-med-form-field">
                    <mat-label>Medicação receitada</mat-label>
                    <textarea matInput formControlName="prescMed"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="form-field" id="dosages-prec-form-field">
                    <mat-label>Dosagens e precauções</mat-label>
                    <textarea matInput formControlName="dosagesPrec"></textarea>
                </mat-form-field>

            </div>
        </div>
        </div>
    </div>
</div>

  
  
            
            
            


 

