
<div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>

    <div style="display: flex; flex-grow: 1;">
      <app-sidebar-menu></app-sidebar-menu>

      <div class="form-container" style="flex-grow: 1;">
        
        <div class="title-and-btn">
            <h3>Preencha os campos para cadastrar</h3>
            <div class="button-group">
                <!-- (click)="saveAppointRegister()" -->
                <button mat-raised-button id="btn-save" >Salvar</button>
                <button mat-raised-button disabled id="btn-edit">Editar</button>
                <button mat-raised-button disabled id="btn-del">Deletar</button>
            </div>
        </div>


        <div class="form-area" [formGroup]="appointRegistration">
            <div>
            <h4>Consulta de</h4>
                
                <mat-form-field class="form-field" id="reason-form-field">
                    <mat-label>Motivo da Consulta</mat-label>
                    <input matInput formControlName="reason">
                </mat-form-field>

                <mat-form-field class="form-field" id="consult-date-form-field">
                    <mat-label>Data da Consulta</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="consultDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field class="form-field" id="consult-time-form-field">
                    <mat-label>Horário da Consulta</mat-label>
                    <input matInput [ngxTimepicker]="timePicker" formControlName="consultTime">
                    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                </mat-form-field>

                <mat-form-field class="form-field" id="problem-descrip-form-field">
                    <mat-label>Descrição do problema</mat-label>
                    <textarea matInput formControlName="problemDescrip"></textarea>
                </mat-form-field>

                <mat-form-field class="form-field" id="presc-med-form-field">
                    <mat-label>Medicação receitada</mat-label>
                    <textarea matInput formControlName="prescMed"></textarea>
                </mat-form-field>

                <mat-form-field class="form-field" id="dosages-prec-form-field">
                    <mat-label>Dosagens e precauções</mat-label>
                    <textarea matInput formControlName="dosagesPrec"></textarea>
                </mat-form-field>

            </div>
        </div>
        </div>
    </div>
</div>

  
  
            
            
            


 

