@import '../../../assets/styles/variables';

.container-list {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .search-area {
    // margin-top: 20px;
    // margin-bottom: 20px;
    display: flex;
    justify-content: left;
    // flex-direction: column;
    // background-color: white;
    // border-radius: 4px;
  }

  #search {
    width: 46vw;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3;
    border-radius: 4px;
    border: none;
    background-color: #6b54f042;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }

  @media only screen and (max-width: 1366px) {
    #search {
        flex-grow: 1;
        // margin-left: 20px;
    }
}
  
  

  // @media only screen and (max-width: 1366px) {
  //   #search {
  //     width: 100%;
  //     margin-left: 20px;
  //     margin-right: 20px;
  //   }
  // }

  .search-area h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.2rem;
    // margin-bottom: 20px;
    // margin-top: 20px;
    // margin-left: 20px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .search-input-button {
    flex-direction: row;
  }
  
  #search::placeholder{
    color: rgba(0, 0, 0, 0.541);
  }
  
  #btn-search1 {
    background-color: #6b54f0;
    color: white;
    border-radius: 4px;
    height: 40px;
    width: 5vw;
    margin-left: 1vw;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
  }

  @media only screen and (max-width: 1366px) {
    #btn-search1 {
        width: 10.2vw;
    }
}

  #btn-search1:hover {
    background-color: #FF4155;
    color: black;
  }

  #btn-clear1 {
    background-color: #6b54f0;
    color: white;
    border-radius: 4px;
    height: 40px;
    width: 5vw;
    margin-left: 1vw;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    margin-right: 20px;
  }

  @media only screen and (max-width: 1366px) {
    #btn-clear1 {
        width: 10.2vw;
    }
}

  #btn-clear1:hover {
    background-color: #FF4155;
    color: black;
  }


  .list-area {
    width: 100%;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    color: white;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.patient-card1 {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr;
}

.header-area {
    background-color: #6b54f0;
    height: 60px;
    // margin-bottom: 15px;
}

.patient-card1:not(.header-area):nth-child(odd) {
  background-color: #6b54f01e;
}

.patient-card1:not(.header-area):nth-child(even) {
  background-color: #ffffff;
}


.card-content1 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    height: 60px;
}

#open-button button {
    background-color: #6b54f0;
    border: none;
    border-radius: 4px;
    height: 35px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    width: 130px;
}

#open-button button:hover {
    background-color: #FF4155;
    color: black;
}

#header-reg {
  padding-left: 100px;
}

#id {
  padding-left: 120px;
}

#header-file, #open-button {
  // text-align: right;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}

// #header-file {
//   padding-right: 115px;
//   display: flex;
//   justify-content: center;
// }

#header-reg, #header-pat-name, #header-ins, #header-file {
  margin-top: auto;
  margin-bottom: auto;
}

#id, #name, #insurance, #open-button {
  display: flex;
  align-items: center;
}

//   .list-area {
//     width: 100%;
//     border-radius: 4px;
//     background-color: white;
//     overflow: hidden;
//     color: white;
//     font-family: "Dosis", sans-serif;
//     font-weight: 400;
//     font-size: 1.8rem;
// }

// .patient-card1 {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .header-area {
//     background-color: #6b54f0;
//     height: 60px;
// }

// .card-content1 {
//     color: black;
//     font-family: "Roboto", sans-serif;
//     font-size: 1.2rem;
//     font-weight: 300;
// }

// #header-reg, #id {
//     flex: 1;
//     padding-left: 60px;
//     text-align: center;
// }

// #header-pat-name, #name {
//     flex: 4;
//     padding-left: 30px;
// }

// #header-ins, #insurance, #header-file, #open-button {
//     flex: 2;
// }

// #header-file, #open-button {
//   text-align: center;
// }

// #open-button button {
//     background-color: #6b54f0;
//     border: none;
//     border-radius: 4px;
//     height: 35px;
//     font-family: "Dosis", sans-serif;
//     font-weight: 400;
//     font-size: 1rem;
//     color: white;
// }

// #open-button button:hover {
//     background-color: #FF4155;
//     color: black;
// }


// .list-area {
//   width: 70%;
//   border-radius: 4px;
//   background-color: white;
//   overflow: hidden;
//   color: white;
//   font-family: "Dosis", sans-serif;
//   font-weight: 400;
//   font-size: 1.8rem;
// }

// .patient-card1 {
//   width: 100%;
// }

// .patient-card1 td {
// border-bottom: 1px solid rgba(0, 0, 0, 0.178);
// }

// .header-area {
// border-top-left-radius: 4px;
// border-top-right-radius: 4px;
// background-color: #6b54f0;
// height: 60px;
// }

// .card-content1 {
// color: black;
// font-family: "Roboto", sans-serif;
// font-size: 1.2rem;
// font-weight: 300;
// height: 55px;
// }

// td p {
// overflow: hidden;
// white-space: nowrap;
// width: 90%;
// }

// #header-reg {
//   width: 15%;
//   padding-left: 30px;
// }

// #header-pat-name {
// width: 42%;
// }

// #header-ins {
// width: 20%;
// }

// #header-file {
// width: 23%;
// text-align: center;
// }

// #id {
// padding-left: 50px;
// }

// #name {
// display: flex;
// justify-content: left;
// }

// #open-button {
// display: flex;
// justify-content: center;
// }

// #open-button button {
// background-color: #6b54f0;
// border: none;
// border-radius: 4px;
// height: 35px;
// font-family: "Dosis", sans-serif;
// font-weight: 400;
// font-size: 1rem;
// color: white;

// }

// #open-button button:hover {
// background-color: #FF4155;
// color: black;
// }