<div *ngIf="showMessage" class="checkmark">
    <img src="../../../assets/images/check-save.png">
</div>

<app-dialog></app-dialog>
<app-confirm-dialog></app-confirm-dialog>

<div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>

    <div style="display: flex; flex-grow: 1;">
        <app-sidebar-menu></app-sidebar-menu>


        <div class="form-container1" style="flex-grow: 0.9;">

                <div id="button-group1">
                    <button id="btn-save" *ngIf="!isEditing" (click)="registerUser()">Salvar</button> 
                    <button disabled id="btn-edit-d" *ngIf="!isEditing">Editar</button>          
                    <button disabled id="btn-del-d" *ngIf="!isEditing">Deletar</button> 
                    <button id="btn-save-d" [disabled]="saveDisabled" *ngIf="isEditing" (click)="saveEditExam()">Salvar</button>
                    <button id="btn-edit" *ngIf="isEditing" (click)="editExam()">Editar</button>
                    <button id="btn-del" *ngIf="isEditing" (click)="deleteExam()">Deletar</button>
                </div>  

                <div class="form-area2" [formGroup]="registerForm">
                    <div class="form-area3">

                        <h4>Novo usuário</h4>
                        
                        <div class="row1">
                            <div class="form-field1 roleName">
                                <label for="roleName">Perfil do usuário*</label>
                            <select formControlName="roleName" id="role-form-field" name="roleName">
                                <option value="ROLE_ADMIN">Administrador(a)</option>
                                <option value="ROLE_MEDICO">Médico(a)</option>
                                <!-- <option value="Paciente">Paciente</option> -->
                                </select>
                            <mat-error *ngIf="registerForm.get('roleName')?.invalid && registerForm.get('roleName')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>

                        <div class="row1">
                            <div class="form-field1 name">
                                <label for="name">Nome completo*</label>
                                <input matInput formControlName="name" name="name">
                                <mat-error *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                                    Obrigatório
                                </mat-error>
                            </div>
                        </div>

                        <div class="row1">
                            <div class="form-field1 email">
                                <label for="email">E-mail*</label>
                                <input matInput type="email" formControlName="email" name="email">
                                <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                                    Obrigatório
                                </mat-error>
                            </div>
                        </div>

                        <div class="row1">
                            <div class="form-field1 birthDate">
                                <label for="birthDate">Data de Nascimento*</label>
                                <input type="date" name="birthDate" formControlName="birthdate">
                                <mat-error *ngIf="registerForm.get('birthdate')?.invalid && registerForm.get('birthdate')?.touched">
                                    Obrigatório
                                </mat-error>
                            </div>
                        </div>

                        <div class="row1">
                            <div class="form-field1 cpf">
                                <label for="cpf">CPF*</label>
                                <input matInput formControlName="cpf" mask="000.000.000-00" id="cpf-form-field" name="cpf">
                                <mat-error *ngIf="registerForm.get('cpf')?.invalid && registerForm.get('cpf')?.touched">
                                    Obrigatório
                                </mat-error>
                            </div>
                        </div>

                        <div class="row1">
                            <div class="form-field1 password">
                                <label for="password">Senha*</label>
                                <input matInput type="password" formControlName="password" id="password-form-field" name="password">
                                <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                                    Obrigatório
                                </mat-error>
                            </div>
                        </div>

                        <div class="row1"></div>
                            <div class="form-field1 confirm">
                                <label for="confirm">Confirmar senha*</label>
                                <input matInput type="password" formControlName="confirm" id="confirm-form-field" name="confirm">
                                <mat-error *ngIf="registerForm.get('confirm')?.invalid && registerForm.get('confirm')?.touched">
                                    As senhas precisam ser idênticas
                                </mat-error>
                            </div>
                        </div>

            </div>

        </div>
    </div>
</div>


  
  
  
            
            
            


 



