<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" [(opened)]="showSidebar">
      <img src="../../../assets/images/logo-labmedical.png" alt="Logomarca" id="logo-sidebar">
  
    <div class="general-menu">  
      <div class="group-menu">
          <button mat-icon-button [routerLink]="['/home']">
            <mat-icon>assessment</mat-icon>
            <span id="btn-text">PAINEL MÉDICO</span>
          </button>
          <button mat-icon-button [routerLink]="['/lista-prontuarios']">
            <mat-icon>assignment</mat-icon>
            <span id="btn-text">PRONTUÁRIOS</span>
          </button>
          
          <button mat-icon-button [routerLink]="['/registro-paciente']">
            <mat-icon>person_add</mat-icon>
            <span id="btn-text">NOVO PACIENTE</span>
          </button>
         
          <button mat-icon-button [routerLink]="['/registro-consulta']">
            <mat-icon>calendar_today</mat-icon>
            <span id="btn-text">NOVA CONSULTA</span>
          </button>
          <button mat-icon-button [routerLink]="['/registro-exame']">
            <mat-icon>note_add</mat-icon>
            <span id="btn-text">NOVO EXAME</span>
          </button>
      </div>  
    </div>  
    </mat-sidenav>
  </mat-sidenav-container>
  