@import '../../../assets/styles/variables';

.dialog1 {
    position: fixed;
    z-index: 1002;
    width: fit-content;
    max-width: 25%;
    min-width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  .dialog-content1 {
    display: flex;
    background: $colorBackgroundDialog;
    border: 2px solid $colorBorderDialog;
    border-radius: 4px;
    flex-direction: column;   
   

  }

  .dialog-content1 p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 2%;
    color: $colorFontDialog;
    margin: auto;
    margin-top: 0px;
  }
  
  .dialog-content1 img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-top: 7px;
    padding-right: 7px;
  }

  .dialog1 button {
    margin: auto;
    margin-bottom: -10px;
  }

  button {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    background: $colorBtnDialog;
    color: $colorFontBtnDialog;
    border-radius: 4px;
    border-style: none;
    width: 50px;
    height: 30px;
    font-weight: 600;
    padding: 0;
 }

 button:hover {
    background: $colorHover;
    color: $colorFontButtonHover
}
