<app-dialog #dialog></app-dialog>

<div class="container-1">

  <div class="logo">
    <img id="logo-img" src="../../../assets/images/logo-labmedical.png">
  </div>

  <div class="login-area" *ngIf="!showRegisterForm">
    <div class="lab-connect">
      <p id="connect">Conecte-se em <span>LABmedical</span></p>
      <p id="connect-text-below">Entre com os dados da sua conta abaixo</p>
    </div>
    <div class="input-email">
      <input type="email" id="email" name="email" placeholder="e-mail" [(ngModel)]="email">
    </div>
    <div class="input-password">
      <input type="password" id="password" name="password" placeholder="senha" [(ngModel)]="password">
    </div>
    <div class="button-login" (click)="loginButtonClick()">
      <button>ENTRAR</button>
    </div>
    <p id="forgot-pass"><span (click)="onForgotPassword()">Esqueceu a senha?</span></p>
    <div class="line-or">
      <div class="line1"></div>
      <div class="text-line">
        <p>ou</p>  
      </div>
      <div class="line2"></div>
    </div>
    <div class="signup">
      <p>Não possui uma conta? <span (click)="toggleRegisterForm()">Registre agora!</span></p>
    </div>  
  </div>

  <div class="register-area" *ngIf="showRegisterForm">
    <button (click)="toggleRegisterForm()">Voltar para o login</button>
  </div>

</div>




  <!-- MODAL
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Recuperar senha</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="warning">Essa funcionalidade ainda está em construção!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-btn-password-modal" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro de usuário</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    <form [formGroup]="registerForm">
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nome</span>
                <input type="text" class="form-control" id="input-name-modal" aria-label="name" aria-describedby="basic-addon1" formControlName="name">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" class="form-control" id="input-email-modal"  aria-label="email" aria-describedby="basic-addon1" formControlName="email">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Senha</span>
                <input type="password" class="form-control" id="input-password-modal"  aria-label="password" aria-describedby="basic-addon1" formControlName="password" placeholder="a senha deve ter 8 caracteres ou mais">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Confirmar</span>
                <input type="password" class="form-control" id="input-confirm-modal"  aria-label="password" aria-describedby="basic-addon1" formControlName="confirm" placeholder="digite a senha novamente">
              </div>
        </div>
    </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-btn-modal" data-bs-dismiss="modal">Fechar</button>
          <button (click)="register()" type="button" class="btn btn-primary" id="register-btn-modal">Registrar</button>
        </div>
      </div>
    </div>
  </div>

  
   -->