<app-dialog></app-dialog>

<div class="container-1">

  <div class="logo">
    <img id="logo-img" src="../../../assets/images/logo-labmedical.png">
  </div>

  <div class="login-area" *ngIf="!showRegisterForm">
    <div class="lab-connect">
      <p id="connect">Conecte-se em <span>LABmedical</span></p>
      <p id="connect-text-below">Entre com os dados da sua conta abaixo</p>
    </div>
    <div class="input-email">
      <input type="email" id="email" name="email" placeholder="e-mail" [(ngModel)]="email">
    </div>
    <div class="input-password">
      <input type="password" id="password" name="password" placeholder="senha" [(ngModel)]="password">
    </div>
    <div class="button-login" (click)="loginButtonClick()">
      <button>ENTRAR</button>
    </div>
    <p id="forgot-pass"><span (click)="onForgotPassword()">Esqueceu a senha?</span></p>
    <div class="line-or">
      <div class="line1"></div>
      <div class="text-line">
        <p>ou</p>  
      </div>
      <div class="line2"></div>
    </div>
    <div class="signup">
      <p>Não possui uma conta? <span (click)="toggleRegisterForm()">Registre agora!</span></p>
    </div>  
  </div>

  <div class="register-area" *ngIf="showRegisterForm">
    <form [formGroup]="registerForm">
      <div class="lab-register-area">
        <p id="lab-register">Registre-se em <span>LABmedical</span></p>
        <p id="lab-register-text">Preencha os campos abaixo para criar uma conta</p>
      </div>
      <div class="register-name">
        <p>Nome</p>
        <input type="text" id="input-name" formControlName="name">
      </div>
      <div class="register-email">
        <p>E-mail</p>
        <input type="email" id="input-email" formControlName="email">
      </div>
      <div class="register-password">
        <p>Senha</p>
        <input type="password" id="input-password" formControlName="password">
        <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" id="password-warning">Senha precisa ter 8 caracteres ou mais</div>
      </div>
      <div class="register-password-confirm">
        <p>Confirmar senha</p>
        <input type="password" id="input-password-confirm" formControlName="confirm">
      </div>
      <div class="register-buttons">
        <button id="button-back" (click)="toggleRegisterForm()">VOLTAR</button>
        <button id="button-register" (click)="register()">CRIAR CONTA</button>
      </div>
    </form>  
  </div>

</div>
  