@import '../../../assets/styles/variables';

body {
    margin: 0;
    padding: 0;
}

.container-1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: $colorBackgroundLogoSigeLogin;
}

#logo-img {
    width: 200px;
}

.login-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%; 
    background: $colorBackgroundFormSideLogin;
}

.lab-connect {
    display: flex;
    flex-direction: column;
    width: 350px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1366px) {
    .lab-connect {
        width: 270px;
    }
}

#connect {
    color: $colorFontClearLogin;
    font-family: "Quicksand", sans-serif;
}

#connect span {
    color: $colorLabMedicalBrand;
    font-weight: 800;
}

#connect-text-below {
    color: $colorFontMidLogin;
    font-family: "Quicksand", sans-serif;
    font-size: 0.8rem;
    margin-top: -10px;
}

#email{
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1366px) {
        #email {
        width: 270px;
    }
}

#email::placeholder {
    color: $colorInputPlaceholder;
}

#password{
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1366px) {
        #password {
        width: 270px;
    }
}

#password::placeholder {
    color: $colorInputPlaceholder;
}

.button-login button {
    background: $colorButtonLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontButton;
    margin-top: 20px;
    border-style: none;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 1366px) {
    .button-login button {
        width: 270px;
    }
}

.button-login button:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
    font-weight: 500;
}

#forgot-pass {
    margin-top: 30px;
    color: $colorFontMidLogin;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}

#forgot-pass:hover {
    color: $colorHover;
}

.line-or{
    display: flex;
    width: 350px;
    justify-content: center;
}

@media only screen and (max-width: 1366px) {
    .line-or {
        width: 270px;
    }
}

.line1 {
    width: 150px;
    height: 1px;
    background: $colorFormBorderLoginRegister;
    text-align: left;
    margin-top: 14px;
    margin-right: 15px;
}

.text-line p {
    color: $colorFormBorderLoginRegister;
    font-family: "Quicksand", sans-serif;
}

.line2 {
    width: 150px;
    height: 1px;
    background: $colorFormBorderLoginRegister;
    text-align: right;
    margin-top: 14px;  
    margin-left: 15px;
}

.signup {
    margin-top: 10px;
}

.signup p {
    color: $colorFontMidLogin;
    font-size: 0.9rem;  
    font-family: "Quicksand", sans-serif;
}

.signup p span {
    color: $colorFontClearLogin;
}

.signup p span:hover {
    cursor: pointer;
    color: $colorHover;
}

.register-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%; 
    background: $colorBackgroundFormSideLogin;
    font-family: "Quicksand", sans-serif;
}

.lab-register-area {
    display: flex;
    flex-direction: column;
    width: 350px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1366px) {
    .lab-register-area {
        width: 270px;
    }
}

#lab-register {
    color: $colorFontClearLogin;
    font-family: "Quicksand", sans-serif;
}

#lab-register span {
    color: $colorLabMedicalBrand;
    font-weight: 800;
}

#lab-register-text {
    color: $colorFontMidLogin;
    font-family: "Quicksand", sans-serif;
    font-size: 0.8rem;
    margin-top: -10px;
    margin-bottom: -5px;
}

#input-name{
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1366px) {
    #input-name {
    width: 270px;
    }
}

#input-email{
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1366px) {
    #input-email {
    width: 270px;
    }
}

#input-password{
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1366px) {
    #input-password {
    width: 270px;
    }
}

#input-password-confirm {
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1366px) {
    #input-password-confirm {
    width: 270px;
    }
}

.register-name p, .register-email p, .register-password p, .register-password-confirm p {
    color: $colorFontClearLogin;
    margin-bottom: 0;
    margin-top: 5px;
}

.register-buttons {
    display: flex;
    width: 350px;
}

@media only screen and (max-width: 1366px) {
    .register-buttons {
        width: 270px;
    }
}

#button-back {
    background: $colorButtonLoginRegister;
    border-radius: 4px;
    width: 30%;
    height: 50px;
    color: $colorFontButton;
    margin-top: 20px;
    border-style: none;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
}

#button-back:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
}

#button-register {
    background: $colorButtonLoginRegister;
    border-radius: 4px;
    width: 70%;
    height: 50px;
    color: $colorFontButton;
    margin-top: 20px;
    border-style: none;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    margin-left: 10px;
}

#button-register:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
}

#password-warning {
    color: $colorTextDanger;
}