.dialog1 {
    position: fixed;
    z-index: 1002;
    width: fit-content;
    max-width: 25%;
    min-width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .dialog-content1 {
    display: flex;
    background-color: rgb(45, 34, 70);
    border: 2px solid #FF4155;
    border-radius: 4px;
    justify-content: space-between;
  }

  .dialog-content1 p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 4%;
    margin-bottom: 0;
    color: white;
  }
  
  .dialog-content1 img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-top: 7px;
    padding-right: 7px;
  }