@import '../../../assets/styles/variables';

.form-container {
  margin-top: 65px;
}

mat-label {
    color: #00000099;
}

#btn-save {
  background-color: $colorButton;
  color: $colorButtonFont;
  border-radius: 25px;
  height: 40px;
  width: 85px;
}

#btn-del-d, #btn-edit-d {
  background-color: $colorButtonDisabled;
  color: $colorButtonDisFont;
  border-radius: 25px;
  height: 40px;
  width: 85px;
}

.form-area {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.form-field {
    width: 250px;
    margin-top: 0px;
    margin-bottom: -21px;
}

#gen-form-field, #date-form-field, #cs-form-field, #insu-form-field, #insu-val-form-field {
    position: relative;
    top: -8px;
    margin-bottom: -28px;
}

#insu-n-form-field {
    position: relative;
    top: 0px;
    margin-bottom: -13px;
}

#name-form-field, #alle-form-field, #care-form-field {
    width: 500px;
}

h4 {
    margin-top: 25px;
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: $colorFontTitle;
}

h3 {
    margin-left: 5%;
    font-size: 1.4rem;
    color: $colorFontTitle;
    margin: auto;
    margin-left: 5%;
    
}

.title-and-btn {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: -25px;
    justify-content: space-between;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-right: 5%;
}

@keyframes checkmark {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    20% {
      opacity: 1;
      transform: scale(1);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .checkmark {
    animation: checkmark 0.3s ease-in-out;
  }
  
  .success-icon {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    animation: checkmark 0.3s ease-in-out;
    z-index: 9999; 
  }