@import '../../../assets/styles/variables';

.form-container {
  margin-top: 65px;
}

mat-label {
    color: #00000099;
}

.buttons-and-title {
  display: flex;
  justify-content: space-between;
}

#button-group button {
  margin-left: 10px;
}

#btn-save, #btn-edit, #btn-del {
  background-color: $colorButton;
  color: $colorButtonFont;
  border-radius: 25px;
  height: 40px;
  width: 85px;
}

#btn-save-d, #btn-edit-d, #btn-del-d {
  background-color: $colorButtonDisabled;
  color: $colorButtonFont;
  border-radius: 25px;
  height: 40px;
  width: 85px;
}

.form-area {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.form-field {
    margin-top: 0px;
    margin-bottom: -21px;
}

#gen-form-field, #date-form-field, #cs-form-field, #insu-form-field, #insu-val-form-field {
  position: relative;
  top: -8px;
  margin-bottom: -28px;
}

#insu-n-form-field {
  position: relative;
  top: 0px;
  margin-bottom: -13px;
}

#cpf-form-field, #rg-form-field, #rg-org-form-field, #cs-form-field {
  width: 25%;
}

#phone-form-field, #nat-form-field, #insu-n-form-field, #insu-val-form-field {
  width: 30%;
}

#email-form-field, #insu-form-field {
  width: 40%;
}

#cont-form-field {
  width: 60%;
}

#phone-cont-form-field {
  width: 40%;
}

#name-form-field {
    width: 50%;
}

#alle-form-field, #care-form-field {
  width: 100%;
}

#gen-form-field, #date-form-field {
  width: 25%;
}

#zipcode-form-field {
  width: 25%;
}

#str-form-field {
  width: 60%;
}

#addr-n-form-field {
  width: 15%;
}

#addr-comp-form-field, #addr-ref-form-field {
  width: 50%;
}

#addr-neig-form-field, #addr-city-form-field {
  width: 40%;
}

#addr-sta-form-field {
  width: 20%;
}


h4 {
    margin-top: 25px;
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: $colorFontTitle;
}

h3 {
    font-size: 1.4rem;
    color: $colorFontTitle;
}

.title {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: -25px;
    justify-content: space-between;
}

@keyframes checkmark {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    20% {
      opacity: 1;
      transform: scale(1);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .checkmark {
    animation: checkmark 0.3s ease-in-out;
  }
  
  .success-icon {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    animation: checkmark 0.3s ease-in-out;
    z-index: 9999; 
  }