<div *ngIf="showMessage" class="success-icon checkmark">
    <img src="../../../assets/images/check-save.png">
</div>
 
 <div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>
 
    <div style="display: flex; flex-grow: 1;">
      <app-sidebar-menu></app-sidebar-menu>
 
      <div class="form-container1" style="flex-grow: 0.9;">
 
                <div id="button-group1">
                    <button id="btn-save-d" [disabled]="saveDisabled" *ngIf="isEditing" (click)="saveEditPat()">Salvar</button>
                    <button id="btn-save" *ngIf="!isEditing" (click)="savePatRegister()">Salvar</button>   
                    <button id="btn-edit" *ngIf="isEditing" (click)="editPatient()">Editar</button>
                    <button disabled id="btn-edit-d" *ngIf="!isEditing">Editar</button>               
                    <button id="btn-del" *ngIf="isEditing" (click)="deletePatient(patientId)">Deletar</button>
                    <button disabled id="btn-del-d" *ngIf="!isEditing">Deletar</button> 
                </div>
 
            <div class="form-area2" [formGroup]="patRegistration"> 
                
            

               <div class="form-area3">

                <h4>Identificação</h4>

                <div class="row1">
                    <div class="form-field1 name" >
                        <label for="name">Nome completo*</label>
                        <input matInput formControlName="name" [errorStateMatcher]="matcher" id="name-form-field">
                        <mat-error *ngIf="patRegistration.get('name')?.invalid && (patRegistration.get('name')?.dirty || patRegistration.get('name')?.touched)">
                            Nome é obrigatório e deve ter entre 8 e 64 caracteres
                        </mat-error>
                    </div>
                    <div class="form-field1 gender">
                        <label for="gender">Gênero*</label>
                        <select formControlName="gender" name="gender" id="gen-form-field">
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                        <mat-error *ngIf="patRegistration.get('gender')?.invalid && patRegistration.get('gender')?.touched">
                            Selecione um gênero
                        </mat-error>
                    </div>
                    <div class="form-field1">
                        <label for="birthDate">Data de Nascimento*</label>
                        <input type="date" name="birthDate" formControlName="birthdate"  id="date-form-field">
                        <mat-error *ngIf="patRegistration.get('birthdate')?.invalid && patRegistration.get('birthdate')?.touched">
                            Obrigatório
                        </mat-error>
                    </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1">
                            <label for="cpf">CPF*</label>
                            <input matInput formControlName="cpf" mask="000.000.000-00" id="cpf-form-field" name="cpf">
                            <mat-error *ngIf="patRegistration.get('cpf')?.invalid && patRegistration.get('cpf')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                        <div class="form-field1">
                            <label for="rg">RG*</label>
                            <input matInput type="number" formControlName="rg" name="rg">
                            <mat-error *ngIf="patRegistration.get('rg')?.invalid && patRegistration.get('rg')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                        <div class="form-field1">
                            <label for="maritalStatus">Estado Civil*</label>
                            <select formControlName="maritalStatus" id="cs-form-field" name="maritalStatus">
                                <option value="Solteiro(a)">Solteiro(a)</option>
                                <option value="Casado(a)">Casado(a)</option>
                                <option value="Separado(a)">Separado(a)</option>
                                <option value="Divorciado(a)">Divorciado(a)</option>
                                <option value="Viúvo(a)">Viúvo(a)</option>
                                <option value="União Estável">União Estável</option>
                                </select>
                            <mat-error *ngIf="patRegistration.get('maritalStatus')?.invalid && patRegistration.get('maritalStatus')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                        <div class="form-field1">
                            <label for="phone">Telefone*</label>
                            <input matInput formControlName="phone" mask="(00) 0 0000-0009" id="phone-form-field" name="phone">
                            <mat-error *ngIf="patRegistration.get('phone')?.invalid && patRegistration.get('phone')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1">
                            <label for="email">E-mail*</label>
                            <input matInput type="email" formControlName="email" name="email">
                            <mat-error *ngIf="patRegistration.get('email')?.invalid && patRegistration.get('email')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                        <div class="form-field1">
                            <label for="placeOfBirth">Naturalidade*</label>
                            <input matInput formControlName="placeOfBirth" name="placeOfBirth">
                            <mat-error *ngIf="patRegistration.get('placeOfBirth')?.invalid && patRegistration.get('placeOfBirth')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                   </div> 
                   <div class="row1">
                        <div class="form-field1">
                            <label for="emergCont">Contato de emergência*</label>
                            <input matInput formControlName="emergCont" name="emergCont">
                            <mat-error *ngIf="patRegistration.get('emergCont')?.invalid && patRegistration.get('emergCont')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                        <div class="form-field1">
                            <label for="emergContNumber">Telefone emergência*</label>
                            <input matInput formControlName="emergContNumber" mask="(00) 0 0000-0009" name="emergContNumber">
                            <mat-error *ngIf="patRegistration.get('emergContNumber')?.invalid && patRegistration.get('emergContNumber')?.touched">
                                Obrigatório
                            </mat-error>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1">
                            <label for="listOfAllergies">Lista de alergias</label>
                            <input matInput formControlName="listOfAllergies" name="listOfAllergies">
                        </div>
                    </div>
                    <div class="row1">
                        <div class="form-field1">
                            <label for="careList">Cuidados específicos</label>
                            <input matInput formControlName="careList" name="careList">
                        </div>
                    </div>
                </div>
                    
                    <div class="form-area4">

                        <h4>Convênio</h4>
        
                        <div class="row1">
                            <div class="form-field1 insurance">
                                    <label for="healthInsurance">Convênio*</label>
                                    <select formControlName="healthInsurance" name="healthInsurance">
                                        <option value="Allianz Saúde">Allianz Saúde</option>
                                        <option value="Amil">Amil</option>
                                        <option value="Biosaúde">Biosaúde</option>
                                        <option value="Bradesco Saúde">Bradesco Saúde</option>
                                        <option value="Care Plus">Care Plus</option>
                                        <option value="Sul América Saúde">Sul América Saúde</option>
                                        <option value="Unimed">Unimed</option>
                                        <option value="Particular">Particular</option>
                                    </select>
                                    <mat-error *ngIf="patRegistration.get('healthInsurance')?.invalid && patRegistration.get('healthInsurance')?.touched">
                                        Obrigatório
                                    </mat-error>
                            </div>
                            <div class="form-field1">
                                <label for="healthInsuranceNumber">Número do convênio</label>
                                <input matInput type="number" formControlName="healthInsuranceNumber" name="healthInsuranceNumber">
                            </div>   
                            <div class="form-field1">
                                <label for="healthInsuranceVal">Validade do convênio</label>
                                <input type="date" name="healthInsuranceVal" formControlName="healthInsuranceVal">
                            </div> 
                        </div>
                    </div>
                
                    <div class="form-area5">

                        <h4>Endereço</h4>

                        <div class="row1">

                            <div class="form-field1 cep">

                                <label for="zipcode">CEP*</label>
                                <input matInput formControlName="zipcode" mask="00000-000" name="zipcode">
                                <mat-error *ngIf="patRegistration.get('zipcode')?.invalid && patRegistration.get('zipcode')?.touched">
                                    Obrigatório
                                </mat-error>

                            </div>

                            <div class="form-field1 street">
                                <label for="street">Rua</label>
                                <input matInput formControlName="street" name="street">
                            </div>

                            <div class="form-field1 number">
                                <label for="addressNumber">Nº</label>
                                <input matInput type="number" formControlName="addressNumber" name="addressNumber">
                            </div>
                       
                            <div class="form-field1 complement">
                                <label for="complement">Complemento</label>
                                <input matInput formControlName="complement" name="complement">
                            </div>

                        </div>

                        <div class="row1">

                            <div class="form-field1 refer referencePoint">
                                <label for="referencePoint">Ponto de referência</label>
                                <input matInput formControlName="referencePoint" name="referencePoint">
                            </div>

            
                            <div class="form-field1 neighborhood">
                                <label for="neighborhood">Bairro</label>
                                <input matInput formControlName="neighborhood" name="neighborhood">
                            </div>

                            <div class="form-field1 city">
                                <label for="city">Cidade</label>
                                <input matInput formControlName="city" name="city">
                            </div>

                            <div class="form-field1 state">
                                <label for="state">Estado</label>
                                <input matInput formControlName="state" name="state">
                            </div>

                    </div>



                </div>
    
  </div>


  <!--
 
                <mat-form-field class="form-field" id="addr-sta-form-field">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="state">
                </mat-form-field> 
 
            </div> -->
