<div class="search-area">
    <label for="search"></label>
    <input type="text" id="search" name="search" [(ngModel)]="searchTerm" placeholder="Digite o nome do paciente" matInput>
    <button id="btn-search" (click)="search()">BUSCAR</button>
    <button id="btn-clear" (click)="clearSearch()">LIMPAR</button>
</div>

<div class="card-container1">
    <div *ngFor="let patient of filteredPatientsList" class="patient-card">
        <mat-card>
            <div class="photo-and-name">
                <mat-card-content id="img-perfil">
                    <img *ngIf="patient.gender === 'Masculino'" src="../../../assets/images/pat-male.png">
                    <img *ngIf="patient.gender === 'Feminino'" src="../../../assets/images/pat-female.png">
                    </mat-card-content>
                <mat-card-content id="name">
                        <p>{{ patient.name | shortenName }}</p>
                </mat-card-content>
            </div>

       
            <mat-card-content class="card-content1" id="age">
                <p>{{ patient.birthdate | age }} anos</p>
            </mat-card-content>
            <mat-card-content class="card-content1" id="phone">
                <p><strong>Telefone: </strong>{{ patient.phone }}</p>
            </mat-card-content>
            <mat-card-content class="card-content1" id="email">
                <p><strong>E-mail: </strong>{{ patient.email }}</p>
            </mat-card-content>
            <mat-card-content class="card-content1" id="insurance">
                <p><strong>Convênio: </strong>{{ patient.healthInsurance }}</p>
            </mat-card-content>
      
                <button class="btn-more"(click)="editPatient(patient.id)">EDITAR</button>
             
        </mat-card>
    </div>
</div>


