@import '../../../assets/styles/variables';

* {
  box-sizing: border-box;
}

.card-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  background-color: $colorAreaBackground;
  margin: 0 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


mat-card {
  box-shadow: none !important;
}

@media only screen and (max-width: 1366px) {
    .card-container1 {
        width: 81.2vw;
    }
}

.patient-card mat-card {
    display: flex;
    flex-direction: column;
    // margin-bottom: 10px;
    width: 19vw;
    height: 220px;
    background: $colorGeneralCard;
    border-radius: 4px;
}

.info-content {
  background: $colorCardContent;
  margin-bottom: 16px;
  margin-left: 17px;
  padding: 0;
  margin-top: -22px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.age-and-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-edit-card {
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 70px;
  height: fit-content;
  background: $colorButtonEditPatientCard;
  color: $colorFontBtnEditPatCard;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 13px;
  margin-right: 10px;
}

.btn-edit-card:hover {
background: $colorHover;
color: $colorFontButtonHover;
}

.photo-and-name {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: -10px;
}

#img-perfil {
    display: flex;
    justify-content: center;
    margin: auto;
}

#img-perfil img {
    width: 75px;
    padding-bottom: 55px;
    z-index: 3;
}

.card-content1 {
    text-align: left;
    display: flex;
    margin-left: 35px;
    padding-bottom: 5px;
}

#name {
    width: 98%;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: -35px;
    margin-top: 28px;
    z-index: 2;
    background: $colorPatCardNameBackground;
}

#name p {
    padding-left: 15px;
    padding-top: 5px;
    color: $colorGeneralFont;
}

#age {
    font-weight: 700;
}

#email p {
    overflow: hidden;
    white-space: nowrap;
    width: 98%;
}

#age, #phone, #email, #insurance {
    display: block;
    margin-left: 0;
}

#search {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
    background: $colorSearchBackground;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media only screen and (max-width: 1366px) {
    #search {
        width: 59vw;
    }
}
  
  .search-area {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  #search::placeholder{
    color: $colorSearchPlaceholder;
  }
  
  #btn-search {
    background: $colorButton;
    color: $colorFontButton;
    border-radius: 4px;
    height: 40px;
    width: 5vw;
    margin-left: 1vw;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 100, 0.295);
  }

  @media only screen and (max-width: 1366px) {
    #btn-search {
        width: 10.2vw;
    }
}

  #btn-search:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
  }

  #btn-clear {
    background: $colorButton;
    color: $colorFontButton;
    border-radius: 4px;
    height: 40px;
    width: 5vw;
    margin-left: 1vw;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 100, 0.295);
  }

  @media only screen and (max-width: 1366px) {
    #btn-clear {
        width: 10.2vw;
    }
}

  #btn-clear:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
  }

  .no-results {
    margin-top: 10px;
    font-size: 1.4rem;
    color: $colorPatientNotFound;
  }

  .pages {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .pages button {
    background: $colorButton;
      color: $colorFontButton;
      border-radius: 4px;
      height: 40px;
      width: 85px;
      font-family: "Dosis", sans-serif;
      font-weight: 500;
      font-size: 1rem;
      border: none;
      margin-left: 10px;
      text-transform: uppercase;
  }
  
  .pages button:disabled {
    background: $colorButtonDisable;
    color: $colorFontButtonDisable;
  }
  
  .pages button:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
  }
  
  .pages button:disabled:hover {
    background: $colorButtonDisable;
    color: $colorFontButtonDisable;
  }
