$colorSideToolbar: #218CF6;
$colorButton: #b6e0f9;
$colorFontTitle: #11406e;
$colorTitleMenu: #b6e0f9;
$colorButtonSidebar: #ffffff;
$colorHoverSidebar: #000000;
$colorToogleMenu: #ffffff;
$colorSidebarIcon: #11406e;
$colorPageTitle: #ffffff;
$colorButtonFont: #218CF6;
$colorButtonDisabled: #b6e0f9c2;
$colorButtonDisFont: #218cf67e;



